$white: #ffffff;
$blue: #0076A3;
$dark-blue: darken($blue, 10);
$light-blue: lighten($blue, 10);
$yellow: #FFBA00;
$red: #fe2d28;
$black: #000;

$bg-colour: $blue;
$text-colour: $black;

$paragraph-font-size: 1.2rem;
$paragraph-font-family: 'Open Sans', sans-serif;

//navigation
$nav-bg-colour: $dark-blue;
$menu-anchor-font-size: 1.4rem;
$menu-anchor-colour:$white;
$menu-anchor-hover-colour: $yellow;

//cards
$card-bg-colour:$white;
$card-text-font-size:1rem;

//headings
$heading-colour: $yellow;
$heading-font-family: 'Bitter', serif;
$heading-font-weight:700;
$heading-font-size: (
	h1: 40px,
	h2: 36px,
	h3: 32px,
	h4: 28px,
	h5: 24px,
	h6: 20px
);

//visit
$visit-border-colour: $white;
$visit-heading-colour: lighten($yellow, 10);
$visit-text-color: $white;

//grid and responsive
$breakpoints: (
	phone: 480px,
	tablet: 768px,
	desktop: 1024px
);
$columns: 12;
$grid-max-width: 1200px;

//buttons
$btn-font-size: 16px;
$btn-font-weight: bold;

//tables
$table-font-size: 1.2rem;
$table-caption-font-family: $heading-font-family;
$table-caption-text-colour:$yellow;
$table-colour: $white;
$table-hover-background-colour: darken($yellow, 5);

//services
$paragraph-services-font-size: 1rem;
$paragraph-service-colour: $white;

//footer 
$bg-footer: $dark-blue;
$footer-colour: $white;
$site-info-bg-colour: $yellow;
$site-info-colour:$dark-blue;




